html, body {
    height: 100%;
    margin: 0;
  }
h1, h2 {
    margin: 0;
}
p {
    font-size: 150%;
}


#intro_page {
    height: 100%;
    font-family: 'Segoe UI';
}
#resume_page {
    height: auto;
    background: #B0B0B0;
    border-top: 10px solid #2D2D2B;
    border-right: 10px solid #2D2D2B;

    padding-top: 5%;
    padding-bottom: 5%;

    text-align: center;
}
#portfolio_page {
    height: 100%;
    background: #2D2D2B;
    border-bottom: 10px solid #B0B0B0;
    border-left: 10px solid #B0B0B0;

    padding-top: 5%;
    padding-bottom: 5%;

    text-align: center;
    color: #E2E2E2;
}

#gradient_bg {
    height: 100%;
    background: linear-gradient(to right, #2D2D2B 30%, #EAE6DF 30%) 100%;
}
#centerBox {
    height: 70%;
    width: 60%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    box-shadow: 5px 10px 80px #5c5454;
}
#profile {
    width: 45%;
    height: 100%;
    background: #000000;
    color: #efe6dd;

    float: left;
    text-align: center;
}
#introduction {
    width: 55%;
    height: 100%;
    background: #EAE6DF;
    color: #000000;

    margin-left: 45%;
}



.profile-img {
    width: 45%;

    margin-top: 10%;
    margin-bottom: 5%;
}
.underline {
    color: #B8926A;
    margin-top: -8%;
}
.bot-bar {
    width: 100%;
    height: 10%;
    background: #EAE6DF;

    overflow: hidden;
    position: fixed;
    bottom: 0;
}
.icon {
    width: 5%;
    margin-left: 1%;
    margin-right: 1%;
}
.rounded-img {
    border-radius: 50%;
}
.page-title {
    font-size: 5em;
}
.resume-title {
    margin-left: 10%;
    margin-bottom: -3%;

    text-align: left;
}
.container {
    width: 80%;
    height: 5em;
    background-color: #2D2D2B;
    color: #E2E2E2;

    margin-top: 5%;
    margin-left: 10%;
    
    box-shadow: 5px 10px 80px #5c5454;
}